{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Accordion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/updown.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
    $( "#accordion" )
      .accordion({
        header: "> div > h3",
        collapsible: true
      })
      .sortable({
        axis: "y",
        handle: "h3",
        stop: function( event, ui ) {
          ui.item.children( "h3" ).triggerHandler( "focusout" );
 
          $( this ).accordion( "refresh" );
        }
      });
  } );
    </script>
    <script>
    function changeTheme() {
        document.body.style.backgroundColor = document.body.style.backgroundColor == 'blue' ? 'white' : 'blue';
    }
    </script>
    
</head>
<body>
<div class="container">
  <h1 class="text-center">Welcome!</h1>
  <div id="accordion">

      <div class="accordion-section">
        <h3>Name<a class='up btn btn-outline-secondary' href='#'>^</a> <a class='down btn btn-outline-secondary' href='#'>v</a></h3>
        <div class="accordion-content">
          <p>Al Taaj Kautsar Supangkat</p>
        </div>
      </div>
    
      <div class="accordion-section">
        <h3>Current Activities<a class='up btn btn-outline-secondary' href='#'>^</a> <a class='down btn btn-outline-secondary' href='#'>v</a></h3>
        <div class="accordion-content">
          <p>Studying</p>
          <p>Doing Assignment</p>
        </div>
      </div>

      <div class="accordion-section">
        <h3>organizational/committee experience <a class='up btn btn-outline-secondary' href='#'>^</a> <a class='down btn btn-outline-secondary' href='#'>v</a></h3>
        <div  class="accordion-content">
          <p>Teksound - Research and Development in Computer Division</p>
        </div>
      </div>

      <div class="accordion-section">
        <h3>Achievements <a class='up btn btn-outline-secondary' href='#'>^</a> <a class='down btn btn-outline-secondary' href='#'>v</a></h3>
        <div  class="accordion-content">
          <p>None</p>
        </div>
      </div>
  </div>

  <div class="text-center">
    <button onclick="changeTheme()" class="btn btn-primary">Change Theme</button>
  </div>

</div>
</body>
</html>